.errorBtn {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  
  border-radius: 10px;
  border: 1px solid red;
  color: red;
  background-color: transparent;

  margin: 5px;
  padding: 5px 10px;

  transition: .3s;
  &:hover {
    background-color: red;
    color: black;
  }
  &:active {
    transform: scale(0.9);
  }
}