.loading_wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 40vh;
  width: 100%;
  .loading {
    display: inline-block;

    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    & div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid yellow;
      border-radius: 50%;
      animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: yellow transparent transparent transparent;
    }
    & div:nth-child(1) {
      animation-delay: -0.45s;
    }
    & div:nth-child(2) {
      animation-delay: -0.3s;
    }
    & div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

.wrapper {
  cursor: pointer;
  display: flex;
  width: 100%;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  .data {
    .list {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      gap: 10px;
    }
  }
}

.empty {
  text-align: center;
  text-transform: uppercase;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
